@charset "UTF";

@media screen and (min-width: 640px){
    body{
        
    }
    #container{
        width: 600px;
        height: 400px;
        flex-direction: row;
    }
    #foto{
        width: 50%;
        height: 100%;
        margin-top: 30px;
        border-radius: 20px;
    }
    form{
        width: 50%;
    }
    span{
        margin-left: 30px;
    }
    input{
        height: 40px;
    }
    #but{
        margin-left: 50px;
        height: 40px;
    }
}