@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #525252, #5f2c82);
    }
    #login{
        width: 80vw;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px){
   #login{
    width: 950px;
   }
   #imagem{
    float: left;
    width: 50%;
    height: 100%;
   }
   #formulario{
    float: right;
    width: 50%;
   }
}