@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #525252, #5f2c82);
    }
    #login{
        width: 80vw;
        
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
       
    }
   
      .campo{
        
      padding: 10px;
      height: 120px;
    }
    input{
   height: 30px;
   width: 250px;
  margin-left: 0px;
  
  
}
span{
    margin-left: 90px;
}
   
    #but{
    display: block;
    font-size: 1em;
    width: 40%;
    height: 40px;
    border: none;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #525252, #5f2c82);
    }
   #login{
    width: 950px;
   }
   #imagem{
    float: right;
    width: 50%;
    height: 100%;
   }
   #formulario{
    float: left;
    width: 50%;
   }
   .campo{
      
      height: 120px;
      padding-top: 50px;
    }
    input{
   height: 30px;
   width: 250px;
  margin-left: 0px;
  
}
span{
    margin-left: 90px;
}

   h1{
    font-size: 2em;
   }
   p{
    font-size: 1.2em;
   }
    #but{
    display: block;
    font-size: 1em;
    width: 40%;
    height: 40px;
    border: none;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}
}