@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to top, rgb(78, 65, 65), rgb(110, 3, 3));
}
#container{
    background-color: rgba(219, 219, 219, 0.774);
    height: 400px;
    width: 250px;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    
}
img{
    width: 120px;
    
}
#foto{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: aliceblue;
    width: 250px;
    margin-top: 0%;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    color: black;
    
}
#usuario{
    
}
input{
    margin-top: 15px;
    margin-left: 0px;
    padding: 5px;
}
span{
    margin-left: 18px;
}
