@charset "UTF-8";

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body,html{
    background: #525252;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}  
#login{
    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.747);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
} 
#imagem{
    display: block;
    background-image: url(img/pexels-ivaoo-691710\ \(1\).jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
   
}
#formulario{
    display: block;
    padding: 10px;
}
h1{
    text-align: center;
   margin-bottom: 10px;
}
p{
   font-size: 0.8em; 
}