@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to top, rgb(78, 65, 65), rgb(110, 3, 3));
}
#container{
    background-color: rgba(255, 255, 255, 0.733);
    height: 400px;
    width: 250px;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 4px 4px 5px rgba(255, 0, 0, 0.267);
    
}
img{
    width: 120px;
    
}
#foto{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: aliceblue;
    width: 250px;
    margin-top: 0%;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(179, 6, 6);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.507);   
}

input{
    margin-top: 15px;
   margin-right: 20px;
    padding: 5px;
    border-radius: 8px;
}
#but{
    width: 60%;
    height: 35px;
    margin-left: 20px;
    font-size: 14px;
    
}
#but:hover{
    background-color: rgba(128, 128, 128, 0.651);
    border: 1px solid black;
   transition-duration: .5s;
}
a{
    color: rgb(49, 47, 47);
    margin-top: 15px;
   
}


